.home-page {
  width: 100%;
  padding-top: 60px; /* To avoid overlapping with Navbar */
  padding-bottom: 80px; /* To avoid overlapping with bottom Navbar */
  background-color: #1a1a1a; /* Dark background */
}

.welcome-text {
  font-size: 2rem;
  text-align: center;
  color: white; /* White text for contrast */
}
