body {
    background: linear-gradient(135deg, #0f0f0f, #1c1c1c);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #292826;
}

.otp-container-unique {
    background: linear-gradient(25deg, #ebebeb9c, #e0e0e0);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(255, 255, 255, 0.4);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.otp-logo-unique {
    width: 280px;
    height: auto;
    margin-bottom: 15px;
}

.otp-input-container-unique {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.otp-input-unique {
    width: 50px;
    height: 50px;
    margin: 5px;
    text-align: center;
    font-size: 1.5rem;
    border: none;
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.4);
    color: white;
    transition: background 0.3s;
}

.otp-input-unique:focus {
    outline: 0.2px solid white;
    background: rgba(255, 255, 255, 0.2);
}

.resend-text-unique {
    color: white;
    font-size: 0.9rem;
}

.resend-link-unique {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.resend-link-unique:hover {
    text-decoration: underline;
}
