body {
    background-color: #2a2927;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.register-container-unique {
    background: linear-gradient(25deg, #ebebeb9c, #e0e0e0);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.8);
    max-width: 400px;
    width: 100%;
    text-align: center;
    border: 2px solid white;
}

.register-logo-unique {
    width: 280px;
    height: auto;
    margin-bottom: 15px;
}

.form-label-unique {
    font-weight: 500;
    text-align: left;
    margin-bottom: 5px;
}

.form-control-unique {
    border: none;
    border-radius: 10px;
    background-color: transparent;
    border-bottom: 1px solid #6d6d6d;
    padding: 8px;
    margin-bottom: 10px;
    transition: border-bottom-color 0.3s ease;
    width: 100%;
}

.form-control-unique:focus {
    border-bottom-color: #3f4040;
    outline: none;
}

.register-btn-unique {
    background-color: #2a2927;
    color: white;
    border: 1px solid #999997;
    border-radius: 8px;
    padding: 10px;
    transition: background-color 0.3s ease;
    width: 100%;
}

.register-btn-unique:hover {
    background-color: #717171;
    border-color: #111112;
}
